:root{
--background-color: rgb(31, 99, 131) ;
--branco: #ffffff;
}

body{
background-color: var(--background-color);
color: var(--branco) ;
}

.animal{
    font-size: 55px;
    justify-content: center;
    text-align: center;
}

.cachorro{
    text-align: center;
    width: 200px;
    justify-content: center;
}
.latido{
    text-align: center;
    font-size: 30px;
}
