:root{
--background-color: rgb(31, 99, 131) ;
--branco: #ffffff;
}

body{
background-color: var(--background-color);
color: var(--branco) ;
}

.animal{
    font-size: 55px;
    text-align: center;
}

.cachorro{
    text-align: center;
    justify-content: center;
    margin: 0 625px;
}
.romeo{
  width: 500px;
}

.latido{
    text-align: center;
    font-size: 30px;
}
