:root{
--background-color: rgb(31, 99, 131) ;
--branco: #ffffff;
}

body{
background-color: var(--background-color);
color: var(--branco) ;
}

.animal{
    font-size: 55px;
    text-align: center;
}

.cachorro{
    text-align: center;
    justify-content: center;
    margin: 0 625px;
}
.romeo{
  width: 400px;
}

.latido{
    text-align: center;
    font-size: 30px;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
